/* Atividade 01 */
/* 320px */
@media (min-width: 320px) and (max-width: 479px){
    div#atv01{
        background-color: black;
    }
}
/* 480px */
@media (min-width: 480px) and (max-width: 599px){
    div#atv01{
        background-color: lightblue;
    }
}
/* 600px */
@media (min-width: 600px) and (max-width: 767px){
    div#atv01{
        background-color: lightgreen;
    }
}
/* 768px */
@media (min-width: 768px) and (max-width: 799px){
    div#atv01{
        background-color: lightyellow;
    }
}
/* 800px */
@media (min-width: 800px) and (max-width: 1023px){
    div#atv01{
        background-color: brown;
    }
}
/* 1024 */
@media (min-width: 1024px) and (max-width: 1279px){
    div#atv01{
        background-color: darkblue;
    }
}
/* 1280 */
@media (min-width: 1280px) and (max-width: 1439px){
    div#atv01{
        background-color: darkgreen;
    }
}

@media (min-width: 1440px){
    div#atv01{
        background-color: darkred;
    }
}


/* Atividade 02 */
@media (orientation: landscape){
    div#atv02{
        display: none;
    }
}


/* Atividade 03 */
/* Celular */
@media (min-width: 480px) and (max-width: 768px){
    body#index03{
        background-color: lightgreen;
    }
}
/* Desktop */
@media (min-width: 769px) and (max-width: 1279px){
    body#index03{
        width: 100%;
        height: 100rem;
        background-image: linear-gradient(lightgreen 50%, lightblue 50%);
    }
}
/* TV */
@media (min-width: 1280px){
    body#index03{
        margin: 0%;
    }
    div#atv03div01{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(lightgreen 50%, lightblue 50%);
    }
    div#atv03div02{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(purple 50%, lightgreen 25%);
    }
    div#atv03div03{
        width: 100%;
        height: 50vh;
        background-color: lightblue;
    }
}


/* Atividade 04 */
li.li-atv04{
    padding-bottom: 5px;
}

li.li-atv04 button{
    width: 200px;
}
